body {
    background-color: lightblue;
}
#header-container {
    display: flex;
    justify-content: center;
}
.false {
    border: 2px solid green;
}

.true {
    border: 2px dashed red;
}

#display-container {
    margin: 25%;
}

#park-section {
    padding: 10px;
}

#park-article {
    padding: 5px;
}